body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.container {
  width: 360px;
  height: 300px;
  background: #ddd;
  padding: 8px;
  border-radius: 20px;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 6px;
}


.box {
  background: #eee;
  border: 1px solid #999;
}

.dark { background: #666; }
.darker { background: #333; }


.top {
  grid-column: 1;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 6px;
}


.right {
  grid-column: 2;
  grid-row: 1 / span 3; 
}


.middle1 {
  grid-column: 1;
  display: grid;
  grid-template-columns: 2fr 1fr 0.5fr;
  gap: 6px;
}


.middle2 {
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr 2fr 0.5fr;
  gap: 6px;
}


.bottom {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 6px;
}